PUID=1000
PGID=1000
TZ=America/New_York
RENDER_GID=987
RENDER_DRI_PRIMARY=/dev/dri/renderD128
RENDER_DRI_SECONDARY=/dev/dri/renderD129
CONFIG_DIR=./config
DATA_DIR=./data
DNS_PRIMARY=1.1.1.1
DNS_SECONDARY=9.9.9.9
